<ion-content class="ion-padding">
  <div class="logo-container">
    <img src="../../assets/icons/logo.png" alt="Logo" class="logo">
  </div>
  <ion-card class="setPwd-card">
    <ion-card-header>
      <ion-card-title>Set Password</ion-card-title>
    </ion-card-header>

      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" [(ngModel)]="pwd" name="newPassword" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="submitReset()">Submit</ion-button>
  </ion-card>
</ion-content>
