ion-content {
    --background: url('../../assets/icons/bg3.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    height: 100vh;
  }

.logo-container {
    text-align: center;
    margin-bottom: 20px; /* Adjust margin as needed */
    margin-top: 140px;
  }
  
  .logo {
    max-width: 250px; /* Adjust the maximum width of the logo */
    width: 100%;
  }

  ion-button {
    --background: #007BFF;
    --border-radius: 25px;
    color: #fff;
    margin-top: 16px;
    font-weight: bold;
  }

  .setPwd-card{
 position: absolute;
  transform: translate(-50%, -50%);
  max-width: 320px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 140px;
  margin-left: 46%;
  }