  <!-- <ion-content>
    <form #editForm="ngForm" class="editForm">
      <div *ngFor="let value of rowData; let i = index">
        <ion-label>{{ tableHeaders[i] }}</ion-label>
          <input [(ngModel)]="rowData[i]" [ngModelOptions]="{standalone: true}">
      </div>
      <ion-button (click)="saveChanges()">Save</ion-button>
    </form>
  </ion-content> -->

  <div>
    <form #editForm="ngForm" class="editForm">
      <mat-form-field *ngFor="let value of rowData; let i = index" class="custom-dialog">
        <mat-label>{{ tableHeaders[i] }}</mat-label>
        <input matInput [(ngModel)]="rowData[i]" [ngModelOptions]="{ standalone: true }">
      </mat-form-field>
      <ion-button (click)="saveChanges()">Save</ion-button>
    </form>
  </div>


