ion-content {
  --background: url('../../assets/icons/bg2.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

.login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 320px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ion-button {
  --background: #007BFF;
  --border-radius: 25px;
  color: #fff;
  margin-top: 16px;
  font-weight: bold;
}

.ion-text-center {
  margin-top: 16px;
  color: #4CAF50;
}

a {
  color: #007BFF;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
