<ion-header>
  <ion-toolbar>
    <ion-title>
      Dispatch Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- First Card - 100% Width -->
    <ion-row class="input-row">
      <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
        <ion-card class="first-card">
          <ion-card-header>
            <ion-toolbar>
              <ion-title>
                Dispatch Details
              </ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="saveData()">Save</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-card-header>
          <ion-card-content class="card-content">
            <!-- Your content for the first card -->
            <ion-row>
                    <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="12">
                <ion-item >{{selectedDate |date }}
                  <ion-icon name="calendar" slot="end" (click)="openDatePicker()"></ion-icon>
                  <ion-datetime *ngIf="showDatePicker" [(ngModel)]="selectedDate" (ionChange)="onDateSelected($event)"
                    >
                  </ion-datetime>
                </ion-item>
              </ion-col>

              <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="12">
                <ion-item>
                  <ion-select class="custom-input" placeholder="Route" [(ngModel)]="selectedRoute">
                    <ion-select-option *ngFor="let route of routeOptions" [value]="route">{{ route }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="12">
                <ion-item>
                  <ion-select class="custom-input" placeholder="Despatcher Incharge" [(ngModel)]="selectedDespatcherIncharge">
                    <ion-select-option *ngFor="let despatcher of despatcherOptions" [value]="despatcher">{{ despatcher }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <div class="ion-text-center">
              <ion-button [disabled]="!allFieldsFilled()" (click)="loadData()">Load</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="second-third-cards" *ngIf="showSecondAndThirdCards">
      <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
        <ion-card>
          <ion-card-content>
            <ion-accordion-group>
              <!-- Iterate over accordion items -->
              <ng-container *ngFor="let accordionItem of accordionItems; let i = index; last as isLast">
                <ion-accordion [value]="accordionItem.value">
                  <ion-item slot="header" color="light" (click)="toggleAccordionItem(i)" button>
                    <ion-label>{{ accordionItem.label }}</ion-label>
                  </ion-item>
                  <ion-item *ngIf="isAccordionItemOpen(i)" slot="content">
                    <!-- Content of accordion item -->
                    <ion-grid>
                      <!-- Table headers -->
                      <ion-row class="table">
                        <ion-col *ngFor="let header of tableHeaders">{{ header }}</ion-col>
                      </ion-row>
                      <!-- Table data rows -->
                      <ion-row class="table" *ngFor="let row of accordionItem.tableData">
                        <ion-col *ngFor="let cell of row">{{ cell }}</ion-col>
                      </ion-row>
                      <!-- Buttons for navigation -->
                      <ion-row class="buttons-container">
                        <ion-col>
                          <ion-button (click)="handleAccordionAction('prev', i)" *ngIf="i > 0">Prev</ion-button>
                        </ion-col>
                        <ion-col>
                          <ion-button (click)="handleAccordionAction('next', i)" *ngIf="!isLastAccordionItem(i)">Next</ion-button>
                        </ion-col>
                        <ion-col>
                          <ion-button (click)="handleAccordionAction('end', i)" *ngIf="!isLastAccordionItem(i)">End</ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                  
                </ion-accordion>
              </ng-container>
            </ion-accordion-group>
            
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
