ion-card.first-card {
  margin-top: 17%;
  width: 100%;
  max-width: none;
  margin-left: 0; /* Add this line to remove the left margin */
}

ion-content {
  --background: #deebf3;
}

ion-content ion-grid .first-card {
  ion-card-header {
    background-color: #f0f0f0;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}

ion-card.second-card {
  width: 100%;
  max-width: none;
  margin-left: 0;
}

.mat-expansion-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100% !important;
  border-collapse: collapse;
  margin-top: 10px; 
  margin: 0 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.table th {
  background-color: #7ec3f1;
  color: #272727;
}

ion-input {
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table th:nth-child(1),
table td:nth-child(1),
table th:nth-child(2),
table td:nth-child(2),
table th:nth-child(3),
table td:nth-child(3) {
  width: 30%; /* Adjust as needed */
}

.data-cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.data-cell:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: #f2f2f2;
}

ion-button {
  color: #474747;
  background-color: #7ec3f1;
  border-color: #20a8d8;
}

.loadButton {
  color: #fff;
  background-color: #9cc1da !important;
  border-color: #7ec3f1 !important;
}

.mat-expansion-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-panel-header.saved-panel {
  background-color: #bce3fd !important;
}

.title {
  margin-left: 17%;
}

mat-accordion {
  width: 100%; /* Ensure the accordion spans full width */
}

.mat-expansion-panel-content {
  padding: 0; /* Remove padding to occupy full space */
}

.first-card ion-item {
  --ion-item-background: white; /* Set the background color of ion-item */
}
