
ion-header {
    ion-toolbar {
      background-color: #f0f0f0; 
    }
  }
  
  ion-content {
    ion-grid {
      .first-card {
        ion-card-header {
          background-color: #f0f0f0; 
        }
  
        .card-content {
          display: flex;
          flex-direction: column;
          margin-top: 20px; 
        }
      }

    }
  }

  .second-card{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .example-headers-align {
    max-width: 500px; /* Adjust the value based on your preference */
    width: 90%; /* Ensure the accordion takes full width */
    margin: 0 auto; /* Center the accordion horizontally */
  }
  
  .mat-expansion-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .custom-button {
    margin-top: 10px;
  }
  
  ion-button {
    color: #fff;
    background-color: #20a8d8;
    border-color: #20a8d8;
  }
  
  .body {
    color: #23282c;
    text-align: left;
    background-color: #e4e5e6;
  }


.buttons-container {
  margin-top: 10px; 
}

@media (max-width: 576px) {
  .table th, .table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}
/* Add this to your component's CSS file */

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}
.table th {
  background-color: #20a8d8;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table th:nth-child(1),
table td:nth-child(1) {
  width: 30%; /* Adjust as needed */
}

table th:nth-child(2),
table td:nth-child(2) {
  width: 20%; /* Adjust as needed */
}

table th:nth-child(3),
table td:nth-child(3) {
  width: 20%; /* Adjust as needed */
}

table th:nth-child(4),
table td:nth-child(4) {
  width: 30%; /* Adjust as needed */
}

@media (max-width: 576px) {
  .table th,
  .table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}

