<ion-header>
  <ion-toolbar>
    <ion-title>
      Route Dispatch
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="input-row">
      <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
        <ion-card class="first-card">
          <ion-card-header>
            <ion-toolbar>
              <ion-title>
                Route Dispatch
              </ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="saveData()">Save</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-card-header>
          <ion-card-content class="card-content">
            <ion-item>
              {{ selectedDate | date }}
              <ion-icon name="calendar" slot="end" (click)="openDatePicker()"></ion-icon>
              <ion-datetime *ngIf="showDatePicker" [(ngModel)]="selectedDate" (ionChange)="onDateSelected($event)">
              </ion-datetime>
            </ion-item>


            <ion-item>
              <ion-select class="custom-input" placeholder="Route" [(ngModel)]="selectedRoute">
                <ion-select-option *ngFor="let route of routeOptions; let i = index" [value]="{ route: route, index: i+1 }">
                  {{ route }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-select class="custom-input" placeholder="Despatcher Incharge"
                [(ngModel)]="selectedDespatcherIncharge">
                <ion-select-option *ngFor="let despatcher of despatcherOptions" [value]="despatcher">
                  {{ despatcher }}</ion-select-option>
              </ion-select>
            </ion-item>

            <div class="ion-text-center">
              <ion-button [disabled]="!allFieldsFilled()" (click)="loadData(selectedRoute?.index,formatDate(selectedDate))">Load</ion-button>
            </div>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="second-third-cards" *ngIf="showSecondAndThirdCards">
      <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <div class="table-responsive">
              <table class="custom-table">
                <thead>
                  <tr class="header-row">
                    <th class="sticky-header" *ngFor="let header of getDisplayedKeys()" class="header-cell">{{ header }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of packetsData; let rowIndex = index" class="data-row">
                    <td *ngFor="let key of getDisplayedKeys(); let colIndex = index" class="data-cell">
                      <ng-container *ngIf="colIndex === 3 || colIndex === 4">
                        <input type="text" [(ngModel)]="row[key]" class="responsive-input" />
                      </ng-container>
                      <ng-container *ngIf="colIndex !== 3 && colIndex !== 4">{{ row[key] }}</ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </ion-card-content>          
          
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
