ion-header {
  ion-toolbar {
    background-color: #f3f2f2;
  }
}
ion-content {
  ion-grid {
    .first-card {
      ion-card-header {
        background-color: #f3f2f2;
      }

      .card-content {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
      }
    }

    .second-third-cards {
      .card-content {
        align-items: center !important;
        justify-content: center !important;
      }
    }
  }
}


.custom-button {
  margin-top: 10px;
}

ion-button {
  color: #fff;
  background-color: #20a8d8;
  border-color: #20a8d8;
}

.body {
  color: #23282c;
  text-align: left;
  background-color: #e4e5e6;
}

.ngx-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.table-responsive {
  overflow-x: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.header-row {
  background-color: #f2f2f2;
}

.header-cell, .data-cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


.data-cell:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: #f2f2f2;
}

.header-cell:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: #f2f2f2;
}
.header-row th {
  background-color: #f2f2f2;
}

.responsive-input{
  width:55%;
  box-sizing: border-box;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(50%, 0%);
}

@media (max-width: 768px) {
  .header-cell, .data-cell {
    padding: 4px;
  }
}

.sticky-header {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #f2f2f2;
}